@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
<div id="container">
</div>

<input type="button" id="SuccessRetry" class="triggerButton" value="Trigger Success"/>
<input type="button" id="FailureRetry" class="triggerButton" value="Trigger Failure"/>
</body>
	<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="@Url.Content("~/Content/home.js")"></script>
</html>

