@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<BrandsHatched.Web.ViewModel.CircuitBreakerModel>
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<title>Home</title>
</head>
<body>
	<div>
		@Model.State
	</div>
	<div>
		@Model.LastStateChange.ToShortDateString()
	</div>
</body>
</html>
